@model IEnumerable<WebApplication1.Models.Project>

@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralareaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralareaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
